
.icon-fishing-ship:before { content: '\e800'; } /* '' */
.icon-etc-ship:before { content: '\e801'; } /* '' */
.icon-yacht-boat:before { content: '\e802'; } /* '' */
.icon-fishing-boat:before { content: '\e803'; } /* '' */
.icon-certification:before { content: '\e804'; } /* '' */
.icon-ship-part:before { content: '\e805'; } /* '' */
.icon-left-open-big:before { content: '\e806'; } /* '' */
.icon-right-open-big:before { content: '\e807'; } /* '' */
.icon-up-open-mini:before { content: '\e808'; } /* '' */
.icon-down-open-mini:before { content: '\e809'; } /* '' */
.icon-play:before { content: '\e80a'; } /* '' */
.icon-pause:before { content: '\e80b'; } /* '' */
.icon-right-arrow:before { content: '\e80c'; } /* '' */
.icon-doc-text:before { content: '\e80d'; } /* '' */
.icon-switch:before { content: '\e80e'; } /* '' */
.icon-th:before { content: '\e80f'; } /* '' */
.icon-upload:before { content: '\e810'; } /* '' */
.icon-left-circled:before { content: '\e811'; } /* '' */
.icon-right-circled:before { content: '\e812'; } /* '' */
.icon-crown:before { content: '\e844'; } /* '' */
.icon-anchor:before { content: '\f13d'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-ship:before { content: '\f21a'; } /* '' */