
.icon-fishing-ship:before { content: '\e800'; } /* '' */
.icon-etc-ship:before { content: '\e801'; } /* '' */
.icon-yacht:before { content: '\e802'; } /* '' */
.icon-boat:before { content: '\e803'; } /* '' */
.icon-certificate:before { content: '\e804'; } /* '' */
.icon-ship-part:before { content: '\e805'; } /* '' */