
.icon-clipboard:before { content: '\e800'; } /* '' */
.icon-trophy:before { content: '\e801'; } /* '' */
.icon-award:before { content: '\e802'; } /* '' */
.icon-trophy-1:before { content: '\e803'; } /* '' */
.icon-award-1:before { content: '\e804'; } /* '' */
.icon-award-2:before { content: '\e805'; } /* '' */
.icon-trophy-3:before { content: '\e806'; } /* '' */
.icon-floppy:before { content: '\e807'; } /* '' */
.icon-export:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-base-makeup:before { content: '\e80a'; } /* '' */
.icon-sun-care:before { content: '\e80b'; } /* '' */
.icon-skin-care:before { content: '\e80c'; } /* '' */
.icon-men:before { content: '\e80d'; } /* '' */
.icon-cleansing:before { content: '\e80e'; } /* '' */
.icon-lip-makeup:before { content: '\e80f'; } /* '' */
.icon-eye-makeup:before { content: '\e810'; } /* '' */
.icon-mask-pack:before { content: '\e811'; } /* '' */
.icon-body-hair:before { content: '\e812'; } /* '' */
.icon-attention:before { content: '\e813'; } /* '' */
.icon-trophy-2:before { content: '\f074'; } /* '' */